body {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.42;
    background: #031920;
    -webkit-kit-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 }

 
html, body {
    height: 100%;
}

.wrapper {
    margin: 0 auto;
    width: 1140px;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.wrapper__content {
    flex: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1140px;
    position: absolute;
    left: 105px;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.a {
      color: inherit;
    }